
    html,body
{
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 0px;
  	overflow-x: hidden;
}
    
    * {box-sizing: border-box;}
    .row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align:left;
  padding:8px;
}
tr:nth-child(even) {background-color: gray;}


.topnav {
  overflow: hidden;
  background-color: #e9e9e9; /* Exterior Bar Color */
}

.topnav a {
  float: left;
  display: block;
  color: #05ce78;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #f2f2f2;
  -webkit-transition: .5s;
  color: #05ce78; /* color of text when hovered over */
}

.topnav a.active {
  background-color: #05ce78; 
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: #05ce78;
  font-weight: bold;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
		* {	
			margin: 0;
			padding: 0;
		}
	
		body {
			font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
			background: #fff;
			margin: 15px;
		}
    
		article {
			width: 90%;
			margin: 0 auto;
			background: #fff;
			color: #333;
			border-radius: 5px;
			<!--box-shadow: 0 0 50px 5px #ddd; -->
		}
    
		section {
			clear: left;
		}
    
		h1 {
			font-size: 20px;
			font-weight: 120;
			letter-spacing: 2px;
			text-align: center;
		}

		h1, #main_content {
			padding: 10px;
		}
    
    h2 {
    	text-align: center;
      font-weight: 600;
      color: #303030;
    }
    
    h4 {
    	text-align: center;
    }

		p {
			margin: 15px 0;
		}
	    
      .row::after {
  	content: "";
  	clear: both;
  	display: table;
	}
   
   [class*="col-"] {
  	float: left;
  	padding: 10px;
  	/*border: 1px solid red;*/
	}
    
 	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
    

    
 /* Stuff for left menu */
    
    .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #e9e9e9;
  color: #05ce78;
  text-align: center;
  
}

.menu li:hover {
  background-color: #f2f2f2;
  -webkit-transition: .5s;
  color: #05ce78; /* color of text when hovered over */
  cursor: pointer;
}

.menu li.active {
  background-color: #05ce78; 
  color: white;
}
    
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  background: #e9e9e9;
  
  width: 70px;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #b2b2b2;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #05ce78;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4.5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
    
    /* body select.select_box */ 
body select { 
    display: block;
    padding: 5px 5px 5px 5px !important; 
    max-width: 88%; 
    height: auto !important; 
    border: 1px solid #e3e3e3; 
    border-radius: 3px; 
    background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat; 
    background-color: #fff; 
    color: #444444; 
    font-size: 12px; 
    line-height: 16px !important; 
    appearance: none; 
    /* this is must */ -webkit-appearance: none; 
    -moz-appearance: none; 
  	width: 150;
} 
/* body select.select_box option */ 
body select option { 
    padding: 0 4px; 
} 
/* for IE and Edge */ 
select::-ms-expand { 
    display: none; 
} 
select:disabled::-ms-expand { 
    background: #f60; 
}
    
.centerImage
{
 text-align:center;
 display:block;
}
    