<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Kickstarter Tool: Comparison page</title>
    <link rel="stylesheet" type = "text/css" href ="{{ url_for('static', filename='chartstyle.css')}}" />
</head>
<body>



	<article>

    <h1>Kickstarter Comparison Tool</h1>
  <div class="topnav">
  <a class = "button" href="/home">Home</a>
  <a class = "button" href="/about">About</a>
  <a class="active" href="/comparison">Comparison</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>


    <div class="row">
      <div class="tools"><h2>Data Comparison</h2>
      </div>
    </div>

	<div class="row">
  	<div class="col-3 menu">
    	<h3>Tool Menu</h3>
    	<ul>
				<li><a class= "button" href = "/comparison">Plot Tool</a></li>
      	<li class = "active" >Chart Tool</li>
      	<li><a class = "button" href = "/comparison/table">Table Tool</a></li>
      	<li><a class = "button" href = "/comparison/something">Something</a></li>
    	</ul>
 		</div>

    <div class="col-9">
		<p>The plot tool generates plots of user selected data. Select the data types you would like to compare as well as the range of time over which you would like to conduct the comparison. Additionaly, you may chose to further filter the data based on whether it at any point was a staff pick or received spotlight.</p>

  	</div>

    <div class="row">

		<form name = "results" method='POST'>


    	<div class="col-2">
			<h4>Backer Amount</h4>
				Min: 
				<input type="text" name="backers_min" />
				<br>
				Max:
				<input type="text" name="backers_max" />

		
				
	
				<!-- 	
					
					<input type="radio" name="DV1" value="Backer Count" checked> Backer Count<br>
					<input type="radio" name="DV1" value="Goal"> Goal ($USD)<br>
					<input type="radio" name="DV1" value="Pledged Amount"> Pledged Amount<br>-->

    	</div>
		<div class="col-2">
				<h4>Pledged Amount</h4>
					Min: 
					<input type="text" name="pledged_min" />
					<br>
					Max:
					<input type="text" name="pledged_max" />
	

			<!--
  				<select class = "select_box" id = "DV2" name = "DV2">
    				<option value="0">Data Value 2:</option>
    				<option value="1">Backer Count</option>
    				<option value="2">Goal ($USD)</option>
    				<option value="3">Pledged Amount ($USD)</option>
				  </select>
			-->
	  </div>

	  <div class="col-2">
			<h4>Goal Amount</h4>
				Min: 
				<input type="text" name="goal_min" />
				<br>
				Max:
				<input type="text" name="goal_max" />
	  </div>


      <div class="col-2">
			<h4>Display Variable:</h4>
			<fieldset id="DisplayVariable">
				<input type="radio" name="DV" value="Spotlight"> Spotlight Status<br>
				<input type="radio" name="DV" value="Staffpick"> Staff-Pick Status<br>
				<input type="radio" name="DV" value="Status" checked> Project Status<br>

			</fieldset>
			<input type="submit" value="Submit">

	  </div>
	</form>

<!-- 	<script type="text/javascript">

		function buildGraph (graphdata) {
			console.log("In buildGraph");
			var chartContainer = document.getElementById("chartContainer");
			 var chart = new CanvasJS.Chart(chartContainer,
			 {
				animationEnabled: true,
				zoomEnabled: true,
			  title:{
			   text: "x: {{field1}} vs y: {{field2}}"
			 },
		
			 data: [
			 {
			  type: "scatter",
			  dataPoints: graphdata
			}
			]
			 });
			console.log("Rendering...");
			chart.render();
			console.log("Rendered!");
		  }
		
			 var List1 =  []
			 var i = 1
			 let newtable_json = "{{newTable}}";
			 let newtable = JSON.parse(newtable_json);
			 console.log("Got newtable of length "+newtable.length);
			 console.log(newtable);
			 console.log("Building internal graph structure...");
			 for (let rows of newtable) {
					 List1.push({x: Number(rows[0]), y: Number(rows[1])})
			 }
			 console.log("Built");
			 console.log(List1)
			 buildGraph(List1);
		 </script>-->
	


      <div class="row">
      	<div class="col-12">
		 <!--  <h4>x: {{field1}} vs y: {{field2}}</h4>  -->
		  <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
		  <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
		  <script type ="text/javascript">

		  anychart.onDocumentReady(function() {

			// set the data
			console.log("HERE!")
			var List1 = []
			var i = 1
			let newtable_json = "{{newTable}}";
			let newtable = JSON.parse(newtable_json);
			for (let rows of newtable){
				List1.push({x: String(rows[0]), value: Number(rows[1])})
			}

			var data = List1

			// create the chart
			var chart = anychart.pie();

			// set the chart title
			chart.title("Population by Race for the United States: 2010 Census");

			// add the data
			chart.data(data);

			// display the chart in the container
			chart.container('container');
			chart.draw();

			});
		  </script>

		  <div id="container" style="width: 100%; height: 200%;"></div>
		</div>














	<!--
<script type="text/javascript">

function buildChart (graphdata) {
	console.log("In buildChart");
	var chartContainer = document.getElementById("chartContainer");
     var chart = new CanvasJS.Chart(chartContainer,
     {
		animationEnabled: true,
		zoomEnabled: true,
      title:{
       text: "x: {{field1}} vs y: {{field2}}" //TO BE DONE
     },

     data: [
     {
      type: "scatter",
      dataPoints: graphdata
    }
    ]
	 });
    console.log("Rendering...");
    chart.render();
    console.log("Rendered!");
  }

	 var List1 =  []
	 var i = 1
	 let newtable_json = "{{newTable}}";
	 let newtable = JSON.parse(newtable_json);
	 console.log("Got newtable of length "+newtable.length);
	 console.log(newtable);
	 console.log("Building internal graph structure...");
	 console.log("Example of rows[0]...");
         console.log(newtable[0][0]);
	 for (let rows of newtable) {
	 		List1.push({x: Number(rows[0]), y: Number(rows[1])});
	 }
	 console.log("Built");
	 console.log(List1);
	 buildGraph(List1);



 </script>-->
	<!--
		  <table>
				<tr style="text-align: center;">
					<th>{{field1}}</th>
					<th>{{field2}}</th>
				</tr>


					{% for row in table %}
					<tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
					</tr>
					{% endfor %}

		</table>
	-->
      	</div>
    	</div>

  	</div>

  </div>



		<section id="main_content">

			<p></p>
		</section>
	</article>
</body>


</html>
