<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Kickstarter Tool: Comparison page</title>
    <link rel="stylesheet" type = "text/css" href ="{{ url_for('static', filename='datastyle.css')}}" />
</head>
<body>



	<article>

    <h1>Kickstarter Comparison Tool</h1>
  <div class="topnav">
  <a class = "button" href="/home">Home</a>
  <a class = "button" href="/about">About</a>
  <a class="active" href="/comparison">Comparison</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>


    <div class="row">
      <div class="col-12 tools"><h2>Data Comparison</h2>
      </div>
    </div>

	<div class="row">
  	<div class="col-3 menu">
    	<h3>Tool Menu</h3>
    	<ul>
      	<li class="active">Plot Tool</li>
      	<li>Chart Tool</li>
      	<li>Table Tool</li>
      	<li>Something</li>
    	</ul>
 		</div>

    <div class="col-9">
		<p>The plot tool generates plots of user selected data. Select the data types you would like to compare as well as the range of time over which you would like to conduct the comparison. Additionaly, you may chose to further filter the data based on whether it at any point was a staff pick or received spotlight.</p>
		<p>FOR GRADING DELIVERABLE: Only use default inputs</p>
  	</div>

    <div class="row">

		<form name = "results" method='POST'>


    	<div class="col-3">
			<!--
  				<select class = "select_box"id ="DV1" name="DV1">
    				<option value="0">Data Value 1:</option>
    				<option value="1">Backer Count</option>
    				<option value="2">Goal ($USD)</option>
    				<option value="3">Pledged Amount ($USD)</option>
				</select>
			-->

				<label>X Axis
				<fieldset id="dataValues1">
					<input type="radio" name="DV1" value="Backer Count" checked> Backer Count<br>
					<input type="radio" name="DV1" value="Goal"> Goal ($USD)<br>
					<input type="radio" name="DV1" value="Pledged Amount"> Pledged Amount<br>
				</fieldset>
			</label>


    	</div>
      	<div class="col-3">
				<label>Y Axis
				<fieldset id="dataValues2">
						<input type="radio" name="DV2" value="Backer Count"> Backer Count<br>
						<input type="radio" name="DV2" value="Goal"> Goal ($USD)<br>
						<input type="radio" name="DV2" value="Pledged Amount" checked> Pledged Amount<br>
				</fieldset>
			</label>

			<!--
  				<select class = "select_box" id = "DV2" name = "DV2">
    				<option value="0">Data Value 2:</option>
    				<option value="1">Backer Count</option>
    				<option value="2">Goal ($USD)</option>
    				<option value="3">Pledged Amount ($USD)</option>
				  </select>
			-->
	  </div>


      <div class="col-3">
			<label>Filter By Spotlight Status?
			<fieldset id="Spotlighted">
				<input type="radio" name="SL" value="True"> Has Been Spotlighted<br>
				<input type="radio" name="SL" value="False"> Has Not Been Spotlighted<br>
				<input type="radio" name="SL" value="IDC" checked> Do Not Filter<br>
			</fieldset>
		</label>

		<label>Filter By Staff-Pick Status?
				<fieldset id="Staff-Picked">
					<input type="radio" name="SP" value="True"> Has Been Staff-Picked<br>
					<input type="radio" name="SP" value="False"> Has Not Been Staff-Picked<br>
					<input type="radio" name="SP" value="IDC" checked> Do Not Filter<br>
				</fieldset>
			</label>
	  </div>
	  <input type="submit" value="Submit">


	</form>


      <div class="row">
      	<div class="col-12">
		  <h4>x: {{field1}} vs y: {{field2}}</h4>

		  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


   <script type="text/javascript">

function buildGraph (graphdata) {
     var chart = new CanvasJS.Chart("chartContainer",
     {
      title:{
       text: "x: {{field1}} vs y: {{field2}}"
     },

     data: [
     {
      type: "scatter",
      dataPoints: graphdata
    }
    ]
	 });
    chart.render();
  }

	 var List1 =  []
	 var i = 1

	 let newtable_json = "{{newTable}}";
	 let newtable = JSON.parse(newtable_json);
	 console.log("Got newtable of length "+newtable.length);
	 console.log(newtable);
	 console.log("Building internal graph structure...");
	 for ( rows in newtable) {
	 		List1.push({x: (rows[0]), y: (rows[1]) })

	 }
	 console.log("Built");
	 console.log(List1);
	 buildGraph(List1);


 

 </script>

 <body>
   <div id="chartContainer" style="height: 300px; width: 100%;">
   </div>
 </body>

		  <table>
				<tr style="text-align: center;">
					<th>{{field1}}</th>
					<th>{{field2}}</th>
				</tr>


					{% for row in table %}
					<tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
					</tr>
					{% endfor %}

		</table>
      	</div>
    	</div>

  	</div>

  </div>



		<section id="main_content">

			<p></p>
		</section>
	</article>
</body>


</html>
